<!DOCTYPE html>
<html>
<head>
    <title>商户管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>

    <link href="../../plugins/daterangepicker.css" rel="stylesheet">
    <script src="../../plugins/moment.min.js"></script>
    <script src="../../libs/daterangepicker.js"></script>

    <script src="../../js/common.js"></script>
    <script src="../../libs/echarts.min.js"></script>

</head>
<body>
    <div id="rrapp">
        <div class="grid-btn">
            <div class="form-group col-xs-2">
                <select  class="form-control"  v-model="q.ds">
                    <option value="sf">盛富通</option>
                    <option value="fy">富友</option>
                </select>
            </div>

         <!--   <div class="form-group col-xs-2">
                <select  class="form-control">
                    <option>销售总额</option>
                    <option>客单价</option>
                </select>
            </div>
-->
            <div class="form-group col-xs-2">
                <input type="text" class="form-control" style="cursor:pointer;" v-model="queryDeptName"  @click="deptTree" readonly="readonly" placeholder="所属商户"/>
            </div>
            <div class="form-group col-xs-2">
                <select v-model="q.payType"  class="form-control">
                    <option value="">支付方式</option>

                    <option value="微信">微信</option>
                    <option value="支付宝">支付宝</option>
                    <option value="借记卡">借记卡</option>
                    <option value="贷记卡">贷记卡</option>
                </select>
            </div>

            <div class="form-group col-xs-2">
                <input type="text" class="form-control" v-model="q.merchName"  placeholder="商户名称">
            </div><!--
            <div class="form-group col-xs-2">
                <input type="text"  class="form-control" v-model="q.dateRange" id="daterange-btn"/>
            </div>-->
            <a class="btn btn-default" @click="query">查询</a>
        </div>
        <div  class="grid-btn">
            <a href="###" onclick="vm.setCrtChart('main')"><span>销售总额</span></a>
            <a href="###" onclick="vm.setCrtChart('avg')"><span>客单价</span></a>
            <a href="###" onclick="vm.setCrtChart('count')"><span>销售量</span></a>
        </div>

        <div id="main-chart"  style="height: 400px">

        </div>


        <div id="avg-chart" style="height: 400px">

        </div>


        <div id="count-chart"  style="height: 400px">

        </div>


    </div>
    <!-- 选择部门 -->
    <div id="deptLayer" style="display: none;padding:10px;">
        <ul id="deptTree" class="ztree"></ul>
    </div>

    <script>


        function refreshCharts(list){
            var xAxisData = list.map(function(item){return item.month});
            var seriesData = list.map(function (item) { return item["amt-sum"]})

            var option = {
                title : {
                    text: '平台销售总额数据统计'

                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:['销售额度']
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        // dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        data : xAxisData
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name: '销售额度',
                        type: 'bar',
                        data: seriesData
                    }
                ]
            };
            var myChart = echarts.init(document.getElementById('main-chart'));
            myChart.setOption(option);
        }

       function refreshAvgChart(list){
           var xAxisData = list.map(function(item){return item.month});
           var seriesData = list.map(function (item) { return item["amt-avg"]})

           var option = {
               title : {
                   text: '平台客单价数据统计'

               },
               tooltip : {
                   trigger: 'axis'
               },
               legend: {
                   data:['客单价']
               },
               toolbox: {
                   show : true,
                   feature : {
                       mark : {show: true},
                       // dataView : {show: true, readOnly: false},
                       magicType : {show: true, type: ['line', 'bar']},
                       restore : {show: true},
                       saveAsImage : {show: true}
                   }
               },
               calculable : true,
               xAxis : [
                   {
                       type : 'category',
                       data : xAxisData
                   }
               ],
               yAxis : [
                   {
                       type : 'value'
                   }
               ],
               series : [
                   {
                       name: '客单价',
                       type: 'bar',
                       data: seriesData
                   }
               ]
           };
           var myChart = echarts.init(document.getElementById('avg-chart'));
           myChart.setOption(option);
       }

       function refreshCountChart(list){
           var xAxisData = list.map(function(item){return item.month});
           var seriesData = list.map(function (item) { return item["count"]})

           var option = {
               title : {
                   text: '平台销售量数据统计'

               },
               tooltip : {
                   trigger: 'axis'
               },
               legend: {
                   data:['销量']
               },
               toolbox: {
                   show : true,
                   feature : {
                       mark : {show: true},
                       // dataView : {show: true, readOnly: false},
                       magicType : {show: true, type: ['line', 'bar']},
                       restore : {show: true},
                       saveAsImage : {show: true}
                   }
               },
               calculable : true,
               xAxis : [
                   {
                       type : 'category',
                       data : xAxisData
                   }
               ],
               yAxis : [
                   {
                       type : 'value'
                   }
               ],
               series : [
                   {
                       name: '销量',
                       type: 'bar',
                       data: seriesData
                   }
               ]
           };
           var myChart = echarts.init(document.getElementById('count-chart'));
           myChart.setOption(option);
       }


        var setting = {
            data: {
                simpleData: {
                    enable: true,
                    idKey: "deptId",
                    pIdKey: "parentId",
                    rootPId: -1
                },
                key: {
                    url:"nourl"
                },

            }
        };
        var ztree;


        var vm = new Vue({
            el: '#rrapp',
            data:{
                q:{
                    merchName: "",
                    ds:"fy",
                    payType:""
                },
                list:[],
                queryDeptName:""
            },
            created:function(){

            },
            methods:{
                query:function(){
                    $.ajax({
                        type: "GET",
                        url: baseURL + "crm/stc/summary",
                        data:vm.q,
                        dataType: "json",
                        success: function(r){
                          //  myChart.hideLoading();
                            refreshCharts(r.result);
                            refreshAvgChart(r.result);
                            refreshCountChart(r.result);
                            vm.setCrtChart("main");
                        }
                    });

                },
                setCrtChart:function(chart){
                    $("#count-chart").hide();
                    $("#main-chart").hide();
                    $("#avg-chart").hide();
                    $("#"+chart+"-chart").show();

                },
                formatNumber(d){
                    var result = d;
                    if(!d || d == ""){
                        result = 0;
                    }
                    return result.toFixed(2);
                },

                getDept: function(){
                    //加载部门树
                    $.get(baseURL + "sys/dept/list", function(r){
                        ztree = $.fn.zTree.init($("#deptTree"), setting, r);
                        var node = ztree.getNodeByParam("deptId", userInfo.deptId);
                        if(node != null){
                            ztree.selectNode(node);
                            vm.queryDeptName = node.name;
                        }
                    })
                },

                deptTree: function(){

                    layer.open({
                        type:  1,
                        offset: '50px',
                        skin: 'layui-layer-molv',
                        title: "选择商户",
                        area: ['300px', '450px'],
                        shade: 0,
                        shadeClose: false,
                        content: jQuery("#deptLayer"),
                        btn: ['确定', '取消'],
                        btn1: function (index) {
                            var node = ztree.getSelectedNodes();
                            if(node[0].deptId != 1)
                            {
                                vm.q.path=node[0].path;
                            }
                            //选择上级部门
                            vm.queryDeptName =  node[0].name;
                            layer.close(index);
                        }
                    });
                }
            },
            mounted:function () {
               // this.initDate();
            }
        });
        vm.getDept();
        vm.query();

    </script>
</body>
</html>